<div class="container dialogbox">
  <h1 mat-dialog-title>Hi {{data.name}}</h1>
  <div mat-dialog-content>
    <h2>email : {{data.email}}</h2>
    <h2>age : {{data.age}}</h2>
    <h2>mobile : {{data.mobile}} </h2>
  </div>
  
  <div class="mat-elevation-z8">

    <table class="table">
      <thead>
        <tr>
          <th>
            date
          </th>
          <th>
            status
          </th>
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let item of usersattendance;">
          <td>{{item.date}}</td>
          <td>{{item.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">close</button>
    <!-- <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button> -->
  </div>
</div>