<div class="container-fluid d-flex flex-wrap justify-content-evenly" >
  <img class="homeimg" src="./assets/undraw_learning_re_32qv.svg" width="500px">

  <div class="list-group list-style-none m-3 border-0">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">Dashboard</h2>
        <small>new edit feature!</small>
      </div>
      <p class="mb-1">view list of users, with features like search, sorting and pagination. for each user there are options : view, edit, delete.</p>
      <!-- <small>And some small print.</small> -->
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">Add User</h2>
        <small class="text-muted">old !</small>
      </div>
      <p class="mb-1">register yourself with the details. </p>
      <small class="text-muted">your details are safe with us</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">Mark Attendance</h2>
        <small class="text-muted">mark your attendance using your ID</small>
      </div>
      <p class="mb-1">go through the dropdown to know your ID or search in dashboard.</p>
      <small class="text-muted">mark attendance</small>
    </a>
  </div>
</div>